
html{
  font-size: 100px;
}
body{
  background: #fff;
  font-size: 0.14rem;
  color:#444;
}
.slide_stage{overflow:hidden;}
img{display:block;}

@-webkit-keyframes s1h1{
  from{ opacity: 0; -webkit-transform:translate3D(-1rem,0,0); }
  to{ opacity: 1; -webkit-transform:translate3D(0,0,0); }
}
@-webkit-keyframes s1pic{
  from{ opacity: 0; }
  to{ opacity: 1; }
}
@-webkit-keyframes s1h2{
  from{ opacity: 0; -webkit-transform:translate3D(1rem,0,0); }
  to{ opacity: 1; -webkit-transform:translate3D(0,0,0); }
}


/* #stage1 .title{
  position: absolute;
  left: 0;
  top: .25rem;
  z-index: 10;
  width: 1.4rem;
  height: .6rem;
  background: url(../images/s3_title.png);
  background-size: cover;
  -webkit-transform-origin: left center;
}
#stage1.active .title{
  -webkit-animation: s3title .6s 1 ease forwards;
}
@-webkit-keyframes s3title{
  from{ -webkit-transform:rotate(-90deg) }
  to{ -webkit-transform:rotate(0) }
} */


.s1Box{width:78%;position:absolute;left:11%;top:.5rem;}
.s1headbox{width:90%;height:1.03rem;margin:0 auto;margin-bottom:.15rem;position:relative;}
.s1headbox img{width:.9rem;position:absolute;}
.s1headbox .s1img1{left:0;}
.s1headbox .s1img2{width:1.5rem;right:-.2rem;top:.2rem;}
.wordBox{width:100%;margin-bottom:.15rem;margin:0 auto;}
.wordBox.wSho{width:80%;margin-top:.18rem;margin-bottom:.18rem;opacity:0;}
.wordBox.wMid{width:93%;opacity:0;}
.wordBox.wImg{width:65%;margin-bottom:.18rem;opacity:0;}
.wordBox.wImg img{width:.2rem;}
.wordBox.wImg img:nth-child(1){float:right;}
.wordBox p:nth-child(1){float:right;}
.wordBox p span{color:#fe0c3c;}
.s1Icon{opacity:0;display:block;width:.3rem;margin:0 auto;margin-top:.25rem;margin-bottom:.25rem;}
.s1Sty{opacity:0;width:70%;display:block;margin:0 auto;}
#stage1.active .s1Icon{-webkit-animation: s1Icon .8s .3s ease forwards;}
@-webkit-keyframes s1Icon{
  from{ -webkit-transform:rotate(-480deg);opacity:0; }
  to{ -webkit-transform:rotate(0);opacity:1; }
}
#stage1.active .s1Sty{-webkit-animation: s1Sty .5s .8s ease forwards;}
#stage1.active .wSho{-webkit-animation: s1Sty .5s 1.2s ease forwards;}
#stage1.active .wImg{-webkit-animation: s1Sty .5s 1.6s ease forwards;}
#stage1.active .wMid{-webkit-animation: s1Sty .5s 2s ease forwards;}
@-webkit-keyframes s1Sty{
  from{ -webkit-transform:translateY(25px);opacity:0; }
  to{ -webkit-transform:translateY(0px);opacity:1; }
}

.s2Box{width:78%;position:absolute;left:11%;top:.4rem;}
.s2up .s2uR{float:right;width:1rem;}
.s2up .s2uR img{width:.2rem;}
.s2up .s2uL{width:1.05rem;}
.s2up .s2uL img{width:100%;}
.s2up div{position:relative;}
.s2up div img:nth-child(1){margin:0 auto;margin-bottom:.2rem;}
.s2up div.s2uR img:nth-child(2){position:absolute;left:50%;margin-left:-.1rem;top: .75rem;}
.s2up div.s2uL img:nth-child(2){position:absolute;left:0;top: .75rem;}
.s2up div p{text-align:center;}
.s2cen{position:relative;width:100%;height:1rem;margin:.15rem 0 .05rem 0;}
.s2cen img{position:absolute;}
.s2cen img:nth-child(1){width:.45rem;top:.02rem;left:2rem;opacity:0;}
.s2cen img:nth-child(2){width:.35rem;top:.1rem;left:1.6rem;opacity:0;}
.s2cen img:nth-child(3){width:.38rem;top:.1rem;left:1.15rem;opacity:0;}
.s2cen img:nth-child(4){width:.45rem;top:.04rem;left:.62rem;opacity:0;}
.s2cen img:nth-child(5){width:.5rem;top:0rem;left:0rem;}
.s2Box h3{text-align:center;line-height:.3rem;font-size:.14rem;}
.s2Box p{font-size:.12rem;line-height:.2rem;color:#8d8c8c;}
#stage2.active .s2cen img:nth-child(5){-webkit-animation: s2cenimg1 .8s .5s ease forwards;}
@-webkit-keyframes s2cenimg1{
  0%{ -webkit-transform:scale(1,1); }
  30%{ -webkit-transform:scale(.8,1.2); }
  60%{ -webkit-transform:scale(1.2,.8); }
  100%{ -webkit-transform:scale(1); }
}
#stage2.active .s2cen img:nth-child(4){-webkit-animation: s2cenimg2 2s 1s ease forwards;}
@-webkit-keyframes s2cenimg2{
  0%{ -webkit-transform:translateX(0);opacity:0; }
  25%{ -webkit-transform:translateX(1.38rem);opacity:1; }
  28%{ -webkit-transform:translateX(1.38rem);opacity:1; }
  100%{ -webkit-transform:translateX(0);opacity:1; }
}
#stage2.active .s2cen img:nth-child(1){-webkit-animation: s2cenimg3 .3s 1.5s linear forwards;}
#stage2.active .s2cen img:nth-child(2){-webkit-animation: s2cenimg3 .3s 1.8s linear forwards;}
#stage2.active .s2cen img:nth-child(3){-webkit-animation: s2cenimg3 .3s 2.1s linear forwards;}
@-webkit-keyframes s2cenimg3{
  0%{ opacity:0; }
  100%{ opacity:1; }
}

.s3Box{width:2.6rem;position:absolute;left:50%;top:1rem;margin-left:-1.3rem;}
.s3Box h3{width:100%;height:.3rem;line-height:.3rem;position:absolute;text-align:center;top: 1.35rem;}
.s3Box div{width:.86rem;height:.86rem;background-size:100%;position:absolute;}
.s3Box div p{width:.5rem;margin:0 auto;line-height:.2rem;margin-top:.23rem;font-size:.12rem;}
.s3Box div p span{font-size:.12rem;}
.s3sha1{opacity:0;top:.1rem;left:50%;margin-left:-.43rem;background:url('../images/s3img1.png') no-repeat center;}
.s3sha2{opacity:0;top:.6rem;right:0;background:url('../images/s3img2.png') no-repeat center;}
.s3sha3{opacity:0;top:1.5rem;right:0;background:url('../images/s3img3.png') no-repeat center;}
.s3sha4{opacity:0;top:2rem;left:50%;margin-left:-.43rem;background:url('../images/s3img4.png') no-repeat center;}
.s3sha5{opacity:0;top:1.5rem;left:0;background:url('../images/s3img5.png') no-repeat center;}
.s3sha6{opacity:0;top:.6rem;left:0;background:url('../images/s3img3.png') no-repeat center;}
#stage3.active .s3sha1{-webkit-animation: s3sha1 .3s .2s linear forwards;}
@-webkit-keyframes s3sha1{
  0%{ -webkit-transform:translateY(1rem);opacity:0; }
  100%{ -webkit-transform:translateY(0);opacity:1; }
}
#stage3.active .s3sha2{-webkit-animation: s3sha2 .3s .3s linear forwards;}
@-webkit-keyframes s3sha2{
  0%{ -webkit-transform:translate(-.85rem,.5rem);opacity:0; }
  100%{ -webkit-transform:translate(0);opacity:1; }
}
#stage3.active .s3sha3{-webkit-animation: s3sha3 .3s .4s linear forwards;}
@-webkit-keyframes s3sha3{
  0%{ -webkit-transform:translate(-.85rem,-.5rem);opacity:0; }
  100%{ -webkit-transform:translate(0);opacity:1; }
}
#stage3.active .s3sha4{-webkit-animation: s3sha4 .3s .5s linear forwards;}
@-webkit-keyframes s3sha4{
  0%{ -webkit-transform:translateY(-1rem);opacity:0; }
  100%{ -webkit-transform:translateY(0);opacity:1; }
}
#stage3.active .s3sha5{-webkit-animation: s3sha5 .3s .6s linear forwards;}
@-webkit-keyframes s3sha5{
  0%{ -webkit-transform:translate(.85rem,-.5rem);opacity:0; }
  100%{ -webkit-transform:translate(0);opacity:1; }
}
#stage3.active .s3sha6{-webkit-animation: s3sha6 .3s .7s linear forwards;}
@-webkit-keyframes s3sha6{
  0%{ -webkit-transform:translate(.85rem,.5rem);opacity:0; }
  100%{ -webkit-transform:translate(0);opacity:1; }
}

.s4Box{width:78%;position:absolute;left:11%;top:.5rem;}
.s4Box div{width:100%;height:1.2rem;position:relative;}
.s4Box div img{width:1.2rem;position:absolute;right:0;top:0;}
.s4Box div p{line-height:.2rem;}
.s4Box div p:nth-child(1){color:#c5c5c5;font-size:.5rem;line-height:.55rem;}
.s4Box div:nth-child(2) p{text-align:right;}
.s4Box div:nth-child(2)  img{left:0;}

.s5Box{width:78%;position:absolute;left:11%;top:.5rem;}
.s5Box img{width:100%;margin:.25rem;}
.s5Box .s5btn{width:100%;height:.3rem;border:.02rem solid #df0b35;margin-bottom:.2rem;border-top:.05rem solid #b2092a;background:#df0b35;border-radius:.05rem;}
.s5Box .s5btn div{float:left;width:50%;text-align:center;line-height:.3rem;color:#fff;}
.s5Box .s5btn div.onbtn{border-top:.02rem solid #fe0c3c;border-bottom:.05rem solid #b2092a;border-radius:.05rem;background:#fe0c3c;
	position:relative;top:-.05rem;color:#a0102c;}
.s5text{position:relative;}
.s5text p{opacity:1;display:block;-webkit-transition:all .5s ease;-webkit-transform: scale(1);position:absolute;left:0;top:0;}
.s5text p.opa{opacity:0;display:none;-webkit-transform: scale(1.5);}

.s6Box{width:78%;position:absolute;left:11%;top:.45rem;}
.s6Box h3{text-align:center;}
.s6Box p.red{text-align:center;color:#fe0c3c;font-size:.35rem;line-height:.41rem;font-weight:900;}
.s6Box p.grey{color:#a3a3a3;font-size:.12rem;}
.s6Box p span{text-decoration:underline;color:#fe0c3c;}
.s6Box h4{color:#cdcccc;font-size:.35rem;line-height:.41rem;font-weight:400;}
.s6Box div{width:2rem;margin:0 auto;padding:.05rem;padding-bottom:.08rem;}
.s6Box div img{width:.7rem;}
.s6Box div img:nth-child(1){float:right;}

.useBox{width:78%;position:absolute;left:11%;top:.45rem;}
.useBox h3{text-align:center;font-weight:550;margin-bottom:.15rem;}
.useBox h4{text-align:center;font-size:.14rem;font-weight:400;margin-top:-.1rem;margin-bottom:.10rem;}
.useBox p{width:86%;margin:0 auto;line-height:.2rem;font-size:.12rem;margin-bottom:.12rem;}
.useBox .onlyBox{width:2rem;margin:0 auto;}
#stage8 .useBox .onlyBox{width:1.85rem;margin:0 auto;}
.useBox .onlyBox img{width:100%;}
.useBox .secBox{width:2.5rem;margin:0 auto;overflow:hidden;}
.useBox .secBox img{width:.8rem;margin-bottom:.4rem;position:relative;top:.5rem;}
.useBox .secBox img:nth-child(1){width:1.3rem;float:right;top:0;}
.useBox .thrBox{width:1.7rem;margin:0 auto;margin-bottom:.1rem;}
.useBox .thrBox img{width:100%;}
.useBox .pageIcon{width:1.02rem;margin:0 auto;opacity:0;-webkit-transition:all 1s ease;}
.useBox .pageIcon span{display:block;width:.05rem;height:.05rem;border:.01rem solid #cecece;border-radius:50%;background:#cecece;float:left;margin:.05rem;}
#stage7 .pageIcon span:nth-child(1){background:#fe0c3c;border:.01rem solid #fe0c3c;}
#stage8 .pageIcon span:nth-child(2){background:#fe0c3c;border:.01rem solid #fe0c3c;}
#stage9 .pageIcon span:nth-child(3){background:#fe0c3c;border:.01rem solid #fe0c3c;}
#stage10 .pageIcon span:nth-child(4){background:#fe0c3c;border:.01rem solid #fe0c3c;}
#stage11 .pageIcon span:nth-child(5){background:#fe0c3c;border:.01rem solid #fe0c3c;}
#stage12 .pageIcon span:nth-child(6){background:#fe0c3c;border:.01rem solid #fe0c3c;}
#stage7.active .pageIcon,#stage8.active .pageIcon,
#stage9.active .pageIcon,#stage10.active .pageIcon,
#stage11.active .pageIcon,#stage12.active .pageIcon{opacity:1;}

.s13Box{width:70%;position:absolute;left:15%;top:1rem;}
.s13Box h3{font-size:.23rem;line-height:.28rem;text-align:center;}
.s13Box h4{font-size:.16rem;line-height:.25rem;text-align:center;margin-bottom:.12rem;}
.s13Box div{width:80%;margin:0 auto;position:relative;}
.s13Box div img{width:100%;}
.s13Box div img:nth-child(2){position:absolute;top:0;left:0;}
#stage13.active .s13Box div img:nth-child(2){-webkit-animation: s13code .6s .3s linear forwards;}
@-webkit-keyframes s13code{
  0%{ -webkit-transform:scale(1);opacity:1; }
  100%{ -webkit-transform:scale(1.5);opacity:0; }
}




/* 兼容iphone4/4s */
/* @media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){


} */

.zpageNum{width:1.8rem;height:.1rem;position:absolute;left:50%;margin-left:-.9rem;bottom:.26rem;
	/* background:url('../images/pagelinebg.png') repeat-x;background-size:auto 100%; */}
.zpageNum img.zpageLine{width:100%;height:100%;position:absolute;top:0;}
.zpageNum img.zpagesign{height:.1rem;position:absolute;top:0;}

.page_title{
  position: absolute;
  top: 0;
  left: 40%;
  z-index: 10;
  width: 1rem;
  height: .55rem;
  color: #fff;
  text-align: center;
  line-height: .29rem;
  margin: 0 0 0 -1.15rem;
  border-radius: 0 0 .15rem .15rem;
}
.page_title img{width:100%;}
.page_title.titr{left:80%;width: 1.4rem;}
.page_title.titc{left:50%;width: 1.2rem;top:.05rem;margin: 0 0 0 -.7rem;}


